<md-dialog aria-label="Бронирование рабочего места" class="ws-selection">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Бронирование рабочего места</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-font-set="material-icons" aria-label="Закрыть окно"> close </md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content >
            <div>
                <span class="md-caption">Дата:</span>
                <span class="md-body-1 bold">{{dayTitle}}</span>
            </div>
            <md-content class="ws-list">
                <md-radio-group ng-model="selectedWorkplaceId" class="md-primary" >
                    <div layout="row"
                            ng-repeat="w in workplaces" class="ws-selection-row" ng-class="{ red: w.designer, green: !w.designer, violet: w.designer.id==currentUser.jobPositionId }">
                        <div flex>
                            {{w.workplace.title}}
                        </div>
                        <div flex >
                            <div layout="row" ng-if="w.designer">
                                <span>
                                    {{w.designer.name}}
                                </span>
                                <md-button class="md-icon-button inline-icon" aria-label="Обмен" title="Выставить на обмен" 
                                    ng-if="w.designer.id==currentUser.jobPositionId && !w.isExchangeProposed"
                                            ng-click="proposeExchangeWorkplace(w)">
                                    <md-icon md-font-set="material-icons"> publish </md-icon>
                                </md-button>
                                <md-button class="md-icon-button inline-icon" aria-label="Предложение обмена" title="Предложение обмена" ng-if="canExchange(w)"
                                            ng-click="acceptExchangeWorkplace(w)">
                                    <md-icon md-font-set="material-icons"> file_download </md-icon>
                                </md-button>
                            </div>
                                
                            <div ng-if="!w.designer">
                                <md-radio-button value="{{w.workplace.id}}" ng-disabled="isWorkplaceAlreadyBooked()"> </md-radio-button>
                            </div>
                        </div>
                        <div flex class="no-wrap">
                            <span>
                                {{w.startTime ? w.startTime.format('HH:mm') : '00:00'}} - {{w.endTime ? w.endTime.format('HH:mm') : '00:00'}}
                            </span>
                        </div>
                    </div>
                </md-radio-group>
            </md-content>
            <div class="progress-container" ng-show="isLoading">
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>
        </md-dialog-content>
        <div class="md-actions" layout="row">
            <span flex></span>
            <md-button class="md-raised" ng-click="ok()" ng-disabled="isWorkplaceAlreadyBooked()">
                Ок
            </md-button>
            <md-button class="md-raised" ng-click="cancel()" style="margin-right:20px;">
                Отмена
            </md-button>
        </div>
    </form>
</md-dialog>