<div layout="column">
    <div layout="row" layout-sm="column" id="calHeader">
        <md-input-container style="min-width:150px;">
            <label>Месяц</label>
            <md-select ng-model="selectedMonth">
                <md-option ng-repeat="month in monthes" value="{{month.title}}">{{month.title}}</md-option>
            </md-select>
        </md-input-container>
        <md-input-container flex style="min-width:300px">
            <label>Студия</label>
            <md-select ng-model="selectedStudioId" >
                <md-option ng-repeat="s in studios" value="{{s.id}}">{{s.name}}</md-option>
            </md-select>
        </md-input-container>
        <div flex></div>
        <div class="not-used-hours-title">{{unusedWorkHoursTitle}}:<b>{{unusedWorkHours}}</b></div>
    </div>
    <md-whiteframe class="md-whiteframe-z2" layout layout-align="center center" style="position:relative">
        <div layout="column" class="calendar" >
            <div layout="row" id="calDays">
                <div flex="auto" class="weekDay blue">{{'MONDAY' | translate}}</div>
                <div flex="auto" class="weekDay blue">{{'TUESDAY' | translate}}</div>
                <div flex="auto" class="weekDay blue">{{'WEDNESDAY' | translate}}</div>
                <div flex="auto" class="weekDay blue">{{'THURSDAY' | translate}}</div>
                <div flex="auto" class="weekDay blue">{{'FRIDAY' | translate}}</div>
                <div flex="auto" class="weekDay blue">{{'SATURDAY' | translate}}</div>
                <div flex="auto" class="weekDay blue">{{'SUNDAY' | translate}}</div>
            </div>
            <div layout="row" class="week" ng-repeat="week in weeks" >
                <div flex="auto" layout="column" class="day gray" style="position:relative; width:14%" ng-repeat="day in week.days"
                     ng-class="{ 'different-month': !day.isCurrentMonth, red:isFullyBooked(day), green: hasFreeWorkplaces(day), violet: day.availability.isReserved}"
                     ng-click="selectDay(day)" ng-disabled="!day.isCurrentMonth|| !day.availability || !isDateValid(day.date) || (day.availability.startTime === day.availability.endTime)">
                    <div class="avilableWorkplaces">
                        <span ng-hide="!day.isCurrentMonth">
                            {{day.availability.availablePaces || '0'}}/{{day.availability.totalPlaces || '0'}}
                        </span>
                    </div>
                    <div class="dayTitle">
                        {{day.number}}
                    </div>
                    <div class="workTime" ng-hide="!day.isCurrentMonth">
                        <span ng-hide="!day.isCurrentMonth">
                            {{day.availability.startTime ? day.availability.startTime.format('HH:mm') : '00:00'}} - {{day.availability.endTime ? day.availability.endTime.format('HH:mm') : '00:00'}}
                        </span>
                    </div>
                    <md-icon md-font-set="material-icons" class="icon-warning icon-has-exchange" ng-show="day.availability.isExchangeProposed" aria-label="Предложение обмена" title="Предложение обмена"> warning </md-icon>
                </div>

            </div>
            <div class="progress-container" ng-show="isLoading">
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>
        </div>
    </md-whiteframe>
</div>
