<div layout layout-align="center center" style="width:100%; height:100%; box-sizing:border-box;">
    <md-whiteframe class="md-whiteframe-z3 login-container"  >
        <md-toolbar class="md-theme-light">
            <div class="md-toolbar-tools">
                <h1>Смена пароля</h1>
            </div>
        </md-toolbar>
        <form name="changePasswordForm" novalidate style="position:relative">
            <md-content layout-padding style="min-height:136px">
                <md-input-container class="md-icon-float">
                    <label>E-mail</label>
                    <md-icon class="material-design" ng-class="{ 'invalid':changePasswordForm.uEmail.$error.required && (changePasswordForm.$submitted || changePasswordForm.uEmail.$touched) }">
                        email
                    </md-icon>
                    <input ng-model="email" type="text" name="uEmail" required>
                    <div ng-messages="changePasswordForm.uEmail.$error" style="margin-left: 35px;">
                      <div ng-message="required"
                          ng-show="changePasswordForm.uEmail.$error.required && (changePasswordForm.$submitted || changePasswordForm.uEmail.$touched)">Поле обязательно для заполнения</div>
                    </div>
                </md-input-container>
            </md-content>
            <div layout="row">
                <md-button class="md-raised md-primary" type="submit" ng-click="!changePasswordForm.$invalid && changePassword()">Выслать Новый Пароль</md-button>
                <div flex></div>
                <md-button class="md-primary" ng-click="cancel()">Отмена</md-button>
            </div>
            <div class="progress-container" ng-show="isLoading">
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>
        </form>

    </md-whiteframe>
</div>