<md-dialog aria-label="Бронирование рабочего места" class="ws-selection">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Мои забронированные рабочие места</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-font-set="material-icons" aria-label="Закрыть окно"> close </md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content >
                <md-content>
                    <md-radio-group ng-model="selectedBookingId" class="md-primary">
                        <div layout="row" layout-sm="column"
                             ng-repeat="b in bookings" class="ws-selection-row grid-line">
                            <div layout="row">
                                <div class="grid-cell" style="padding-top:4px">
                                    <md-radio-button value="{{b.id}}" ng-disabled="b.isExchangeProposed"> </md-radio-button>
                                </div>
                                <div class="no-wrap grid-cell">
                                    {{b.date.format('DD MMMM YYYY')}}
                                </div>
                                <div class="no-wrap grid-cell">
                                    <span>
                                        {{b.startTime ? b.startTime.format('HH:mm') : '00:00'}} - {{b.endTime ? b.endTime.format('HH:mm') : '00:00'}}
                                    </span>
                                </div>
                            </div>
                            <div layout="row">
                                <div class="grid-cell">
                                    {{b.studio.name}}
                                </div>
                                <div class="grid-cell">
                                    {{b.workplace.title}}
                                </div>
                            </div>
                        </div>
                        
                    </md-radio-group>
                </md-content>
            <div class="progress-container" ng-show="isLoading">
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>
        </md-dialog-content>
        <div class="md-actions" layout="row">
            <span flex></span>
            <md-button class="md-raised" ng-click="ok()" ng-disabled="isWorkplaceAlreadyBooked()">
                Ок
            </md-button>
            <md-button class="md-raised" ng-click="cancel()" style="margin-right:20px;">
                Отмена
            </md-button>
        </div>
    </form>
</md-dialog>